
/* Navigation */
#main-nav .social {
  display: none;
}

#main-nav .container {
  grid-template-columns: 1fr;
  grid-gap: 1.2rem;
}

#main-nav ul,
#main-nav .logo {
  justify-self: center;
}

#main-nav ul li a {
  padding: 0.50rem;
}

#home-articles .articles-container {
  grid-template-columns: repeat(2, 1fr);
}

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child {
  grid-template-columns: 1fr;
  grid-column: 1;
}

@media(max-width: 375px) {
  /* Stack Grid Items */
  * {
    grid-template-columns: 1fr;
  }

 .beats {
   display: none;
 }

  .nav .brand_link {
    width: 75%;
    margin: 2.5rem;
    font-size: 2em!important;
  }

  .mobile_link{
    display: inherit;
    font-size: 1.5rem;
    padding: .25rem;
    color: black;
    border: 2px solid rgb(84, 255, 184);
  }

  .toggler {
    display: none;
  }

  .header .main {
    padding: 0;
    margin: 0
  }
  
  .showcase {
    height: 600px;
    margin: 1rem;
  }

  .showcase .first {
    grid-gap: 1rem
  }

  .showcase .first .showcase_btn1 {
    margin-bottom: 5rem;
  }

  .recipe_card {
    grid-template-columns: 1fr;
    margin: 2rem;
    width: 100px;
    grid-gap: 2rem; 
  }

  .recipe_image {
    height: 200px;
    width: 200px
  }
  .recipe_card .recipe_section {
    height: 200px;
    width: 200px;
   
  }

  #bottom {
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
  }
  #bottom .column1, .column2 {
   display: none;

  }

}