
@media(max-width: 600px) {
  /* Stack Grid Items */
* {
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: black
}

h3 {
  margin: auto;
  margin-top: 5%;
  font-size: 2em!important;
}
br {
  display: none;
}
.btn {
  padding: .5rem!important;
  width: 50%;
  background: var(--orange)
}
.text-muted {
  padding: 1rem;
}
.text-muted_update {
  display: none;
}
  
.beats {
  display: none;
}

/* navbar */

#navbar {
  position: initial
}

.nav .brand_link {
  width: 75%;
  margin: auto;
  margin-top: 5%;
  font-size: 2em!important;
}

.mobile_link{
display: inherit;
font-size: 1.5rem;
padding: .25rem;
color: black;
border: 2px solid rgb(84, 255, 184);
}

.toggler {
  display: none;
}

/* dashboard */

.dash_header .main {
  padding: 0;
  margin: 0
}


/* main recipe display */
.daily {
  grid-template-columns: 1fr;
  margin: auto;
  width: 250px;
  grid-gap: 2rem; 
}

.daily .daily_image {
  height: 250px;
  width: 250px
}

.daily .daily_section {
  height: 250px;
  width: 250px;
  font-size: .5em;
  border: none;
}

/* submit recipe */

.recipe_form_card {
  grid-template-columns: 1fr;
  margin: auto;
  border: none;
  width: 100%;

}
.recipe_form_card .recipe_form_display {
  display: none;
}

.recipe_input {
  margin: 1%;
  padding: 1.5rem;
  width: 100%;
}

/* ask a chef */
.ask_form_card {
  grid-template-columns: 1fr;
  margin: auto;
  border: none;
  width: 100%;

}
.ask_form_card .ask_form_display {
  display: none;
}

.ask_input {
  margin: 1%;
  padding: 1.5rem;
  width: 100%;
}


/* cook/book */

.mobile_height {
 
}

.forward {
  color: var(--green)!important;
}

.forward_email {
background: none;
border: none;
font-size: 1em;
color: white;
}

.forward_email:hover:click {
  background: none;
}

.forward_button {
  border: none;
  color: var(--green);
  background: none;
  font-size: 1em;
}


.card {
  display: grid;
  grid-template-areas: 
  'picture' 
  'mainbox'
  'first'
  'second'
  'third'
  'fourth';
  margin: 5rem;
  border: none;
  border-bottom: 10px solid var(--green);
  border-top: 10px solid var(--green);
}

.card .picture {
  grid-area: picture;
  height: 150px;
  width: 150px;
  border: 10px solid;
  border-radius: 100%;
}

.mainbox {
  grid-area: mainbox;
  margin: 1rem;
  width: 150px;
  font-size: 1em;
}
.mainbox_special {
  grid-area: mainbox;
  margin: 1rem;
  margin: 1em;
  width: 350px;
  font-size: .75em;
}

.first {
  grid-area: first;
  margin: 1rem;
  margin: 1em;
  font-size: .75em;
}
.second {
  grid-area: second;
  margin: 0;
  margin: 1em;
  font-size: .75em;
}
.third {
  grid-area: third;
  margin: 1em;
  font-size: .75em;
}
.third_special {
  grid-area: third;
  margin: 1em;
  margin-left: -50%;
  margin-top: -40%;
  font-size: .75em;
}
.third_special1 {
  grid-area: third;
  margin: 1em;
  font-size: .75em;
}
.fourth {
  grid-area: fourth;
  width: 100%;
}

.carousel {
  max-width: 400px;
}

br {
  display: inherit!important;
}










/* footer */

#bottom {
  margin-top: auto;
}

#bottom .column4, .column1, .column2 {
  display: none;
}

}












