/* will put image in background
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4; */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Abel', sans-serif;
  
}

:root {
  --orange: rgb(255, 70, 58);
  --green: rgb(84, 255, 184);
  --neon: greenyellow;
  --black: #2b2b2b;
}


/* scrollbar  */

body::-webkit-scrollbar {
  width: 1.5em;
}
  
body::-webkit-scrollbar-thumb {
  background-color: var(--green);
  outline: 1px solid slategrey;
  border-radius: 20px;
}

/* scrollbar dashboard recipe */

.daily .daily_section::-webkit-scrollbar {
  color: black;

}
.daily .daily_section::-webkit-scrollbar-corner {
  background: var(--green);
}

.daily .daily_section::-webkit-scrollbar-thumb{
  border-radius: 20px;
    -webkit-box-shadow: inset 0 0 0 1000px; 
}


/* UTILITY */

/* padding */

.py-1 {padding: 1.5rem 0}
.py-2 {padding: 2rem 0}
.py-3 {padding: 3rem 0}
.p-1 {padding: 1.5rem 0}
.p-2 {padding: 2rem 0}
.p-3 {padding: 3rem 0}

a {
  text-decoration: none;
  color: black
}
.link {
  color: var(--black)!important;
  font-size: 3em;
  font-style: oblique;
  font-weight: bolder;
}

.toggler {
  border: none!important;
}

.beats{
  color: var(--black);
  font-size: 5em;
  font-style: oblique;
  font-weight: bolder;
  text-align: center;
}

/* .btn {
  background: none;
  padding: .5rem 1.5rem;
  width: 100%;
} */
.btn:hover {
  background: var(--orange);
  color: black;
}

.far, .fab {
  margin: .25rem
}

h2 {
  font-weight: 900;
  font-size: 1.5em;
}
h3 {
  text-align: center;
  font-weight: 1000;
  font-size: 5em;
  border: 5px dotted var(--orange);
  width: 50%;
  margin: auto;
  padding: 1rem
}

h4 {
  font-weight: 1200;
  font-size: 1.25em;
}

/* NAVBAR */

#navbar {
  display: grid;
  grid-template-columns: 1fr;
  position: sticky;
  top: 0;
  margin: .5rem;
  z-index: 2;
}

.nav .brand_link {
  border: 5px solid black;
  font-size: 2.5em!important;
  font-style: oblique;
  font-weight: bolder;
  text-align: center;
  width: 20%;
  background: var(--orange)
}

.nav .brand_link:hover {
  border: 5px solid transparent;
  transform: rotate(-10deg);
}

.nav .nav_search {
  margin-left: 25rem;
  width: 50%;
}

.mobile_link {
  display: none;
}

/* Dashboard */

/* header marquee section */

.dash_header .main {
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem;
  padding: .25rem;
  align-items: center;
  border: 5px solid black
}


/* dashboard recipe */


.more {
  font-size: 2em;
  margin-top: -75%;
  margin-left: 50%;
  width: 100%;
}


/* ask a chef form */

.ask_form_card {
  display: grid;
  grid-template-columns: 3fr 3fr;
  margin: auto;
  padding: 2rem;
  width: 75%;
  border: 5px solid;
}
.ask_input {
  padding: .5rem;
  margin: 1rem;
  width: 75%
}

.ask_form_card .ask_form_display {
  border: 5px solid;
  margin: auto;
  width: 400px;
  font-size: 2.5em!important;
  font-style: oblique;
  font-weight: bolder;
  text-align: center;
}


/* submit a recipe form */

.recipe_form_card {
  display: grid;
  grid-template-columns: 3fr 3fr;
  margin: auto;
  padding: 1rem;
  width: 75%;
  border: 5px solid;
}
.recipe_input {
  padding: .5rem;
  margin: 1rem;
  width: 75%
}

.recipe_form_card .recipe_form_display {
  border: 5px solid;
  margin: 1rem;
  margin: auto;
  width: 400px;
  font-size: 2.5em!important;
  font-style: oblique;
  font-weight: bolder;
  text-align: center;
}

/* forward recipe */

.forward {
  color: var(--green)!important;
  margin-top: -2%;
}

.forward_email {
background: none;
border: none;
font-size: 1.5em;
color: white;
}

.forward_email:hover:click {
  background: none;
}

.forward_button {
  border: none;
  color: var(--green);
  background: none;
  font-size: 1.5em;
}


/* cookbook cards */
.card {
  display: grid;
  grid-template-areas: 
  'picture picture mainbox mainbox'
  'first first second second'
  'third third third third'
  'fourth fourth fourth fourth';
  justify-content: center;
  text-align: center;
  width: 75%;
  margin: 10em;
  border: none;
  border-bottom: 10px solid var(--green);
  border-top: 10px solid var(--green);
}

.card .picture {
  grid-area: picture;
  margin: 1em;
  height: 350px;
  width: 350px;
  border: 10px solid;
  border-radius: 100%;
}

.mainbox {
  grid-area: mainbox;
  margin: 1em;
  width: 350px;
  font-size: 2em;
}
.mainbox_special {
  grid-area: mainbox;
  margin: 1em;
  width: 350px;
  font-size: 1em;
}

.first {
  grid-area: first;
  margin: 1em;
  font-size: 1.5em;
}
.second {
  grid-area: second;
  margin: 1em;
  font-size: 1.5em;
}
.third {
  grid-area: third;
  margin: 1em;
  font-size: 1.5em;
}
.third_special {
  grid-area: third;
  margin: 1em;
  margin-left: -50%;
  margin-top: -40%;
  font-size: 1.5em;
}
.third_special1 {
  grid-area: third;
  margin: 1em;
  margin-left: -50%;
  margin-top: -5%;
  font-size: 1.5em;
}
.fourth {
  margin: 1em;
  grid-area: fourth;
  width: 100%;
}

.carousel {
  max-width: 400px;
}






/* footer */

#bottom {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  margin-top: 5%;;
  /* Overlay */
  top: 65px;
  left:0;
  right: 0;
  bottom: 0;
}

#bottom .column1 {
  padding: .75rem;
}
#bottom .column2 {
  padding: .75rem;
}
#bottom .column3 {
  padding: .75rem;
}
#bottom .column4 {
  padding: .75rem;
}
#bottom .column5 {
  padding: .75rem;
}









/* cookbook sections */


/* .cookbook_card .section2 {
  margin: 5rem;
  width: 165%;
  margin-top: -5%;
  font-size: 1.25em!important;
}

.cookbook_card .section11 {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  margin: auto;
  margin-top: -10%;
  font-size: 1.25em!important;
}

.cookbook_card .section12 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 75%;
  margin: auto;
  margin-top: -10%;
  font-size: 1.25em!important;
}

.cookbook_card .section13 {
  margin: 5rem;
  margin-left: 25%;
  width: 165%;
  font-size: 1.25em!important;
} */
/* .cookbook_card .section_description {
  width: 100%;
  margin-left: 50%;
  font-size: 1.25em!important;
} */


/* pbpie */
/* .cookbook_card .section11_pbpie {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  margin: auto;
  margin-top: -10%;
  font-size: 1.25em!important;
}

.cookbook_card .section12_pbpie {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 75%;
  margin: auto;
  margin-top: 5%;
  font-size: 1.25em!important;
} */